[submodule "bundle/smart-parentheses"]
	path = bundle/smart-parentheses
	url = https://github.com/vim-scripts/Smart-Parentheses.git
[submodule "bundle/scala-vim-support"]
	path = bundle/scala-vim-support
	url = https://github.com/vgod/scala-vim-support.git
